.search__wrapper {
    position: relative;
    flex: 1;
    display: flex;
    gap: 11px;
}

.search__input {
    width: 100%;
    background-color: #DEDEDE;
    border: none;
    border-radius: 5px;
    padding: 15px 30px 15px 50px;
    flex: 1;
}

.search__input__image {
    position: absolute;
    top: 10px;
    left: 12px;
    height: 24px;
    width: 24px
}

.search__input::placeholder {
	color: #494949;
}

.search__button {
	border: none;
	background-color: #121212;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}